.authorization {
    display: flex;
    width: 70%;
    padding: 50px;
    /*border: black 1px solid;*/
    border-radius: 20px;
    margin: auto;
    background-color: var(--color--darkGrey);
    color: var(--color--grey);
}

.form {
    padding: 0 20px;
    flex: 1;
}

.infoCard_signIn {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.text{
    margin-bottom: 20px;
}

.welcomeTitle {
    margin-bottom: 40px;
}

.btn{
    background-color: var(--color--grey);
    color:red;
}

@media screen and (max-width: 720px) {
    .text {
        display: none;
    }

    .welcomeTitle {
        display: none;
    }
    .authorization{
        width: 90%;
        flex-direction: column;

    }
    .form{
        /*justify-content: center;*/
        position: relative;
        margin-top: 50px;
    }
    .btnTel{
        margin: 20px 0;
    }
    .infoCard_signIn{
        justify-content: center;
    }
    .btnTelIn{
        position: absolute;
        left: 90px;
        top: 60px;
    }
    /*.btnTelIn:before{*/
    /*    content: '<-';*/
    /*    position: absolute;*/
    /*    top:5px;*/
    /*    left: -8px;*/
    /*}*/
}