.wrapper{
    height: 70px;
    width: 100%;
    background-color: var(--color--darkGrey);
    display: flex;
    align-items: center;

}
.titleGroup{
    flex:4;
    padding: 70px;
}
.headerLogo{
    width: 300px
}
.infoGroup{
    flex:1;
    /*margin-right: 100px;*/
}
.accountLogo:hover{
    cursor: pointer;
}

@media screen and (max-width<1024px){
    .titleGroup{
        padding: 0;
        color:red;
    }
    .infoGroup{
        margin-right: 0;
    }
    .headerLogo{
        width: 200px;
    }
}
@media(max-width:500px){
    .titleGroup{
        padding: 0;
        color:red;
    }
    .infoGroup{
        margin-right: 0;
    }
    .headerLogo{
        width: 200px;
    }
}
