.cardBtn {
    margin-top: 20px;
}

.calendarBody {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 100px;
}

.card {
    width: 20rem;
}

.title {
    text-align: center;
    font-size: 36px;
    color: var(--color--red);
}

@media (max-width: 400px) {
    .card {
        width: 14rem;
    }

    .personalData {
        flex-direction: column;
    }

}