.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: var(--color--darkGrey);
}
.line{
    height: 5px;
    border: 5px solid var(--color--blue);
    width: 100%;
    display: flex;
    justify-content: center;
}
.pointers{
    display: flex;
    justify-content: space-around;
}
.circle{
    width: 15px;
    height: 15px;
    transform: translateY(-12px);
    background-color: var(--color--grey);
    border-radius: 50%;
}
.month{
    color: var(--color--grey);
    text-align: center;
}
@media screen and (max-width:1024px){
    .footer{
        width: 90%;
    }
}
@media screen and (max-width:400px){
    .footer{
        width: 80%;
    }
}